@import url('//afeld.github.io/emoji-css/emoji.css');
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

.reveal{
 font-size: 1.6rem;
 font-weight: 400;
 font-family: "Noto Sans JP","メイリオ","HiraginoKaku","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3";
 word-break: normal;
 word-wrap: break-word;
}
.reveal .noto{
  font-family: "Noto Sans JP";
}
.reveal .fc_white{
  color: #fff;
}

.reveal .bold{
  font-weight: 900;
}

.reveal .ta_center{
  text-align: center;
}

.reveal .ls_none{
  list-style-type: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  white-space: nowrap;
}
.reveal p {
 text-align: left;
}
.reveal > .backgrounds > div{
 background-color: rgba(0, 0, 0, 0.7);
}

.reveal > .slides > section:nth-child(5) ul li{
 list-style: none;
 font-size: 2.4em;
}

.reveal > .slides > section:nth-child(7) h3 {
 font-size: 2.4em;
}
.reveal > .slides > section:nth-child(8) h3 {
 font-size: 2.4em;
}
